.title_to_do_list {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #333;
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 10px; 
  background-color: #f8f9fa; 
}

/* Container for filter and sort sections */
.button-container-sort-filter {
  text-align: center; /* Center align the content */
  margin: 20px 0;
}

/* Title for filter and sort sections */
.button-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}


button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style for filter buttons */
.filter-button {
  background-color: #4CAF50;
  color: white;
}

.filter-button:hover {
  background-color: #45a049;
}

/* Style for sort buttons */
.sort-button {
  background-color: #2196F3;
  color: white;
}

.sort-button:hover {
  background-color: #0b7dda;
}

/* Active button state */
.active {
  background-color: #555;
  color: white;
}

.undo-button {
  background-color: #f0ad4e; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 10px auto; 
  display: block; 
  text-align: center; 
}

.undo-button:hover {
  background-color: #ec971f; 
}

.undo-button:active {
  transform: scale(0.98); 
}

.undo-button:focus {
  outline: none; 
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar:focus {
  border-color: #007BFF;
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.search-button:hover {
  background-color: #0056b3;
}


.chart-container {
  width: 20%;
  margin: 0 auto;
  padding: 20px;
}

.chart-container h2 {
  text-align: center;
}

